.scroll-top-area{
    #scroll{
        position: fixed;
        bottom: 40px;
        right: 20px;
        transform: scale(0);
        @extend .transition;
        &.scroll-top{
            transform: scale(1);

        }
        a{
            @include area(40, 40);
            border-radius: 50%;
            background-color: $main-color;
            @extend .transition;
            i{
                font-size: 24px;
                color: $white-color;
                padding-bottom: 3px;

            }
        }
    }
}